*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: black;
    color: white;
    font-size: medium;
    font-style: italic;
}
nav{
    background: #ee0b77;
    width: 100;
    overflow: auto;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    float: left;
}
nav a{
    width: 120px;
    display: block;
    text-decoration: none;
    text-align: center;
    background: #ee0b77;
    font-size: 17px;
    color: white;
    padding: 20px 10px;
    font-family: Arial, Helvetica, sans-serif;

}
nav a:hover{
    background: skyblue;
    color: black;
}
.container{
    max-width: 1200px;
    margin: auto;
    background: #f2f2f2;
    overflow: auto;
}
.gallery{
    margin: 5px;
    border: 1px solid #cccccc;
    float: left;
    width: 390 px;
}
.gallery img{
    width: 100%;
    height: auto;
}
.desc{
    padding: 15px;
    text-align: center;
}
footer{
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    background: #594848;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
.copyright {
    font-size: 10pt;

    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    /* color: blue; */
    /* font-family: "Pacifico" , cursive; */
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 4px 5px 4px;
    border: 1px solid #ffffff;
    background-color: gold; */
    border-radius: 5px;
    width: 47%;
    outline: none;
    margin-left: 50%;
}
img:hover{
    height:300px;
    width:300px;
}
/* asdf */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
} */

/* body{
    height: 100vh;
    background: url(bg.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
} */

.contact-info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    position: relative;
    flex: 1;
    max-width: 300px;
    height: 140px;
    background-color: #444;
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    font-size: 32px;
    color: #ea8685;
    transition: .3s linear;
}

.card:hover .icon{
    transform: scale(4);
    opacity: 0;
}

.card-content h3,
.card-content span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    opacity: 0;
}

.card-content h3{
    top: 20px;
    text-transform: uppercase;
    color: #ea8685;
}

.card-content span{
    bottom: 20px;
    color: #fff;
    font-weight: 500;
}

.card:hover h3{
    opacity: 1;
    top: 46px;
    transition: .3s linear .3s;
}

.card:hover span{
    opacity: 1;
    bottom: 46px;
    transition: .3s linear .3s;
}


@media screen and (max-width:900px){
    .card{
        flex: 100%;
        max-width: 500px;
    }
}